.container {
  display:grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 300px, 500px, 200px 200px;
  height: 1000px; 
  grid-template-areas: 
  "header header"
  "main main"
  "widget-area widget area"
  "footer footer"
  


}
site-header {
  background: blue;
  grid-area: header;
  
}
.site-main {
  background:chartreuse;
  
  
}
.widget-area {
  background: blueviolet;
  
 
}
.site-footer {
  background:rgb(250, 2, 2);
}


@media screen and (min-width: 700px) {

  
  .site-header {
    
  
  }
  .site-main {
    
  }
  .widget-area {
    
  }
  .site-footer {
    
  }
  
 
}