.container {
  display:grid;
  grid-gap: 3px;
  grid-template-columns: repeat (12, 1fr);
  grid-template-rows: 50px, 100px, 50px;
 

}
.site-header {
  background: blue;
  height: 200px;
}
.site-main {
  background:chartreuse;
  height: 200px;
}
.widget-area {
  background: blueviolet;
  height: 200px;
}
.site-footer {
  background:rgb(250, 2, 2);
  height: 200px;
}


@media screen and (min-width: 700px) {
  
  .site-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  
  }
  .site-main {
    grid-column: 2 / 4 ;
    
  }
  .widget-area {
    grid-column: 2 / 4 ;
    
  }
  .site-footer {
    grid-column: 2 / 4 ;
  }
  
 
}